@import '../mixins/box-shadow';

#canvas {
  @include box-shadow;

  width: 100%;
  height: 100%;
  
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  // border: 4px solid black;
  background-image: url('./assets/images/pixel-track.jpg');
  background-size: cover;
}