@import '_colors';

#timer {
  display: flex;
  height: auto;
  width: fit-content;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);

  justify-content: space-between;
  
  font-family: 'Roboto', sans-serif;
}

#time {
  display: flex;
  
  padding: 5px;
  box-sizing: border-box;

  background-color: white;
  border: 2px solid black;
  font-size: 48px;
  font-weight: 400;

  align-items: center;

  input {
    height: 100%;
    width: 53.5px;

    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;

    border: none;
    padding: none;
  }
}

[id$="btn"] {
  box-sizing: border-box;
  width: 60px;

  font-weight: 200;
}

#start-pause-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pause {
  background-color: $matte-orange;

  border-top: 2px solid $matte-dark-orange;
  border-left: 2px solid $matte-dark-orange;
  border-bottom: 2px solid $matte-dark-orange;
}

.start {
  background-color: $matte-green;

  border-top: 2px solid $matte-dark-green;
  border-left: 2px solid $matte-dark-green;
  border-bottom: 2px solid $matte-dark-green;
}

#reset-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  background-color: $grey;
  border-top: 1px solid $dark-grey;
  border-right: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
}