@import '../mixins/box_shadow';
@import '../colors';

.bet-view {
  @include box_shadow;
  
  background-color: $midnight-purple;
  border-radius: 8px;
  display: flex;
  
  margin: 2.5vw auto;
  
  position: relative;
  z-index: 0;

  width: 80vw;
}