@import '../colors';
@import '../fonts';
@import '../mixins/transitions';

#bet-view {  
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  font-family: $roboto;

  margin: 32px;
  margin-top: 100px;
  
  position: absolute;
  top: 0;
  z-index: 2;

  width: calc(100% - 64px);
}

#bet-view-toggle.open + #bet-view {
  display: none;
}

#bet-view-toggle {
  background-color: rgba(255, 255, 255, .4);
  border: 8px solid rgba(0, 0, 0, .4);
  border-radius: 50%;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: background-color 300ms $cubicBezierNoDelay,
    color 100ms $cubicBezierNoDelay;


  padding: 2px;

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;

  height: fit-content;
  width: fit-content;
}

#bet-view-toggle.open {
  font-size: 32px;
  
  padding: 8px 16px;
}

#bet-view-toggle.close {
  font-size: 32px;
  
  padding: 8px 14px;
}

#bet-view-toggle.open:hover,
#bet-view-toggle.close:hover {
  background-color: white;
  border-color: black;
  color: black;
}

// @media only screen and (max-width: 874px) {
//   #bet-view {
//     position: relative;
//   }

//   #bet-view-toggle {
//     display: none;
//   }
  
//   #bet-view-toggle.open+#bet-view {
//     display: flex;
//   }
// }