@import '../colors';
@import '../mixins/box_shadow';
@import '../mixins/text_outline';

#bet-controller {
  @include box-shadow($color: $midnight-purple-dark);
  
  background-color: $dino-green;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  margin: 32px;
  padding: 8px 16px;

  align-items: center;
  
  width: 378px;

  .title {    
    @include text-outline($color: $extra-dark-grey);
    
    color: $silver;
    cursor: default;
    display: flex;
    font-size: 62px;
    font-weight: 500;
    text-align: justify;

    margin-bottom: 8px;
    padding-top: 4px;

    justify-content: center;
  }

  #selections {
    display: flex;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 24px;

    box-sizing: border-box;
    width: 100%;
  }

  #prev, #next {
    background-color: $silver;
    border: 1px solid $extra-dark-grey;
    color: $extra-dark-grey;
    cursor: pointer;
    display: flex;
    text-align: center;

    align-items: center;
    justify-content: center;

    width: 20px;
    height: 100%;
  }

  #prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    margin-right: 4px;
  }
  
  #next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    margin-left: 4px;
  }


  #amount {
    @include text-outline($color: $extra-dark-grey);
    
    background-color: transparent;
    border: none;
    caret-color: transparent;
    color: $silver;
    font-size: 64px;
    text-align: center;
    outline: none;

    margin: 0;
    padding: 0;
    
    width: 330px;
  }

  #amount::placeholder {
    @include text-outline($color: $extra-dark-grey);
    
    color: $silver;
  }

  #amount:focus, #amount:focus::placeholder {
    color: white;
  }

  #bet-type-button, #bet-submit-button {
    background-color: $silver;
    border: 1px solid $extra-dark-grey;
    border-radius: 8px;
    color: $extra-dark-grey;
    cursor: pointer;
    font-size: 18px;

    padding: 8px;
    
    width: 100%;
  }

  #bet-type-button {
    margin-bottom: 8px;
  }
  
  #bet-submit-button {
    margin-bottom: 4px;
  }

  #bet-type-button:hover,
  #bet-submit-button:hover, 
  #prev:hover, 
  #next:hover {
    background-color: white;
  }

  #amount,
  #amount::placeholder,
  #bet-type-button,
  #bet-submit-button,
  #prev,
  #next {
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

#bet-controller.green {
  background-color: $dino-green;
}

#bet-controller.red {
  background-color: $dino-red;
}

#bet-controller.yellow {
  background-color: $dino-yellow;
}

#bet-controller.purple {
  background-color: $midnight-purple;
}