@import '../colors';

#bet-view {  
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  font-family: "Roboto", sans-serif;

  margin: 32px;
  
  position: absolute;
  top: 0;
  z-index: 2;

  width: calc(100% - 64px);
}

#bet-view-toggle.open + #bet-view {
  display: none;
}

#bet-view-toggle {
  background-color: rgba(255, 255, 255, .4);
  border: 8px solid rgba(0, 0, 0, .4);
  border-radius: 50%;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  padding: 2px;

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;

  height: fit-content;
  width: fit-content;
}

#bet-view-toggle.open {
  font-size: 32px;
  
  padding: 8px 16px;
}

#bet-view-toggle.close {
  font-size: 32px;
  
  padding: 8px 14px;
}

#bet-view-toggle.open:hover,
#bet-view-toggle.close:hover {
  background-color: white;
  border-color: black;
  color: black;
}