@import '../colors';
@import '../mixins/box_shadow.scss';

.bet-controller {
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  margin: 32px;

  align-items: center;
  
  height: 200px;

  .title {
    color: $silver;
    display: flex;
    font-size: 18px;
    font-weight: 500;

    padding: 4px;

    justify-content: center;
  }

  #amount {
    background-color: white;
    border: none;
    color: black;
    font-size: 64px;
    outline: none;
  }

  #amount::placeholder {
    color: black;
  }
}