@import '../colors';
@import '../fonts';
@import '../mixins/box_shadow';
@import '../mixins/transitions';

#help-view {
  background-color: $midnight-purple-dark;
  color: white;
  font-family: $roboto;
  overflow: scroll;

  padding: 0 12%;

  
  position: absolute;
  z-index: 999;

  box-sizing: border-box;
  height: 100%;
  width: 100%;

  #how-to-play  {
    display: flex;
    flex-wrap: wrap;
    div {
      @include box-shadow;
      background-color: black;
      border: 4px solid white;
      border-radius: 8px;
  
      margin: 12px 0;
      padding: 8px;

      box-sizing: border-box;
      width: 100%;
    }
  }

  h1 {
    color: white;
    font-size: 64px;
    font-weight: 500;
    
    margin-bottom: 32px;
  }

  p {
    color: $silver;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
}

#help-view-toggle {
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-family: $roboto;
  font-weight: 500;
  opacity: .4;
  transition: opacity 300ms $cubicBezierNoDelay;

  padding: 8px;
  
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9999;
}

#help-view-toggle:hover {
  opacity: 1;
}

#help-view-toggle.close {
  font-size: 22px;
  
  padding: 5px 8px 4px;
}

#help-view-toggle.open + #help-view{
  display: none;
}