@import '../colors';
@import '../fonts';
@import '../mixins/box_shadow';
@import '../mixins/transitions';

@media only screen and (min-width: 1425px) {
  $message-pos-delta: 10%;
}

// @media only screen and (min-width: 1650px) {
//   $message-pos-delta: 0;
// }

#help-view {
  background: linear-gradient($midnight-purple-dark, $midnight-purple);
  color: white;
  display: none;
  font-family: $roboto;
  overflow: scroll;

  padding: 0 12%;
  padding-bottom: 32px;

  position: absolute;
  z-index: 99;

  box-sizing: border-box;
  height: 100vh;
  width: 100vw;

  .title {
    font-size: 104px;
    font-weight: 500;

    margin: 0;
    padding: 64px 32px;
  }

  h1 {
    color: white;
    font-size: 64px;
    font-weight: 500;
    
    margin-bottom: 32px;
  }

  p {
    color: $silver;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
}

.help-view-toggle {
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-family: $roboto;
  font-weight: 500;
  opacity: .4;
  transition: opacity 300ms $cubicBezierNoDelay;

  padding: 8px;
  
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9;
}

#help-view::-webkit-scrollbar {
  display: none;
}

#help-view {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.help-view-toggle:hover {
  opacity: 1;
}

.help-view-toggle.close {
  color: black;
  display: none;
  font-size: 22px;

  z-index: 9999;
  
  padding: 5px 8px 4px;
}

#ui {
  background-color: black;
  border: 4px solid white;
  border-radius: 8px;
  padding: 32px;

  margin-bottom: 12px;

  box-sizing: border-box;
  
  .container {
    position: relative;

    width: 100%;
  
    img {
      width: 100%;
    }

    .bet-view-message-box {
      top: 6.5vw;
      left: 8px;
    }

    .bet-view-message-box:after {
      left: 4px;
      right: auto;
    }
    
    .start-pause-message-box {
      top: 7vw;
      left: 30.5%;
    }

    .start-pause-message-box:after {
      left: 30%;
      right: auto;
    }
    
    .reset-message-box {
      top: 7vw;
      left: 57.5%
    }

    .reset-message-box:after {
      left: 40%;
      right: auto;
    }
    
    .help-view-message-box {
      top: 4.5vw;
      left: auto;
      right: 8px;
    }

    .help-view-message-box:after {
      left: auto;
      right: 4px;
    }
    
    .amount-message-box {
      top: auto;
      bottom: 36.5vw;
      left: 8px;
    }

    .amount-message-box:after {
      left: 4px;
      right: auto;
    }
    
    .social-links-message-box {
      top: auto;
      bottom: 37vw;
      right: 8px;
      left: auto;
    }

    .social-links-message-box:after {
      left: auto;
      right: 4px;
    }
    
    .bet-submit-message-box {
      top: auto;
      bottom: 7vw;
      left: 8px;
      left: auto;
    }

    .bet-submit-message-box:after {
      left: 4px;
      right: auto;
    }
    
    .bet-prev-selection-message-box {
      top: auto;
      bottom: 7vw;
      right: auto;
      left: 5vw;
    }

    .bet-prev-selection-message-box:after {
      left: auto;
      right: 4px;
    }
    
    .bet-next-selection-message-box {
      top: auto;
      bottom: 7vw;
      right: 5vw;
      left: auto;
    }

    .bet-next-selection-message-box:after {
      left: auto;
      right: 10vw;
    }
    
    .bet-status-message-box {
      top: auto;
      bottom: 7vw;
      right: 8px;
      left: auto;
    }

    .bet-status-message-box:after {
      left: auto;
      right: 4px;
    }
  }
}


#how-to-play {
  display: flex;
  flex-wrap: wrap;

  div {
    @include box-shadow;
    background-color: black;
    border: 4px solid white;
    border-radius: 8px;

    margin: 12px 0;
    padding: 32px;

    box-sizing: border-box;
    width: 100%;
  }
}