@import '../mixins/transitions';

#how-to-play {
  display: flex;
  flex-wrap: wrap;

  > div {
    @include box-shadow;
    background-color: black;
    border: 4px solid white;
    border-radius: 8px;

    margin: 12px;
    padding: 32px 12%;

    box-sizing: border-box;
    width: 100%;
  }

  p {
    margin: 32px 0;
  }

  img {
    display: block;

    margin: 0 auto;
    margin-top: 16px;

    width: 100%;
    min-width: 200px;
  }
}

#demo-bet-view-btn {
  background-color: white;
  transition: opacity 300ms $cubicBezierNoDelay;
  border: 2px solid $faded-black;
  border-radius: 50%;
  color: $faded-black;
  cursor: pointer;
  font-weight: 500;
  opacity: .4;

  padding: 0 5px;
}

#demo-bet-view-btn:hover {
  opacity: 1;
}

#selection-btns-demo {
  display: flex;

  margin: 0;
  padding: 8px;
  
  align-items: center;
  justify-content: center;

  .prev-demo, 
  .next-demo {
    background-color: white;
    border: 1px solid $faded-black;
    color: $faded-black;
    cursor: pointer;
    display: inline-flex;
    line-height: .75;
    opacity: 1;
    transition: background-color 300ms $cubicBezierNoDelay;
  
    padding: 16px 4px;
  
    align-items: center;
    justify-content: center;
    
    height: 76px;
    width: 20px;
  }

  .prev-demo:hover,
  .next-demo:hover {
    background-color: $silver;
  }
  
  .prev-demo.black:hover,
  .next-demo.black:hover {
    background-color: $faded-black;
  }

 .prev-demo.black,
 .next-demo.black {
   background-color: black;
   border-color: white;
   color: white;
 }
  
  .prev-demo {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  
    margin-right: 8%;
  }

  .prev-demo.black {
    margin-left: 12%;
  } 
  
  .next-demo {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

#cancel-bet-demo {
  display: flex;
  overflow: hidden;

  align-content: bottom;
  justify-content: center;
  
  .placed-bet {
    height: 230px;

    margin-top: -150px;
  }
}

#locked-bet-demo {
  display: flex;
  overflow: hidden;

  align-content: bottom;
  justify-content: center;
  
  .placed-bet {
    height: 230px;

    margin-top: -150px;

    .status {
      display: block;
    }
  }

}