.message-box {
  color: #fff;
  background-color: black;
  border-radius: 4px;
  font-size: 18px;

  padding: 8px;
  
  position: absolute;
  left: 0;
  top: 0;

  height: auto;
  width: fit-content;
}

@media only screen and (max-width: 550px) {
  .message-box {
    font-size: 10px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 850px) {
  .message-box {
    font-size: 16px;
  }
}

.message-box.arrow:after {
  content: " ";

  position: absolute;
}

.message-box.arrow.top:after {
  right: 24px;
  top: -12px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid black;
}

.message-box.arrow.right:after {
  right: -12px;
  top: 12px;
  border-top: 12px solid transparent;
  border-right: none;
  border-left: 12px solid black;
  border-bottom: 12px solid transparent;
}

.message-box.arrow.bottom:after {
  right: 24px;
  bottom: -12px;
  border-top: 12px solid black;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: none;
}

.message-box.arrow.left:after {
  left: -12px;
  top: 12px;
  border-top: 12px solid transparent;
  border-right: 12px solid black;
  border-left: none;
  border-bottom: 12px solid transparent;
}