@import '../mixins/box_shadow';

$arrow-height: 1vw solid black;
$arrow-width: .75vw solid transparent;

.message-box {
  @include box-shadow;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  font-size: 18px;

  padding: 8px;
  
  position: absolute;
  left: 0;
  top: 0;

  height: auto;
  width: fit-content;
}

@media only screen and (max-width: 550px) {
  .message-box {
    font-size: 10px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 850px) {
  .message-box {
    font-size: 16px;
  }
}

.message-box.arrow:after {
  content: " ";
  border-bottom-color: black;

  position: absolute;
}

.message-box.arrow.top:after {
  border-top: none;
  border-right: $arrow-width;
  border-left: $arrow-width;
  border-bottom: $arrow-height;
  transform: translateY(-100%);

  top: 0;
}

.message-box.arrow.right:after {
  border-top: $arrow-width;
  border-right: none;
  border-left: $arrow-height;
  border-bottom: $arrow-width;
  transform: translateX(100%);
  
  top: 0;
}

.message-box.arrow.bottom:after {
  border-top: $arrow-height;
  border-right: $arrow-width;
  border-left: $arrow-width;
  border-bottom: none;
  transform: translateY(100%);
  
  bottom: 0;
}

.message-box.arrow.left:after {
  border-top: $arrow-width;
  border-right: $arrow-height;
  border-left: none;
  border-bottom: $arrow-width;
  transform: translateX(-100%);
  
  left: 0;
}