@import '../colors';
@import '../mixins/box_shadow';
@import '../mixins/text_outline';
@import '../mixins/transitions';

#placed-bets-view {  
  display: flex;
  overflow-y: scroll;
}

#placed-bets-view::-webkit-scrollbar {
  display: none;
}

#placed-bets-view {
  -ms-overflow-style: none;
  scrollbar-width: none;
}