@import '../colors';
@import '../mixins/box_shadow';
@import '../mixins/text_outline';

#placed-bets-view {  
  display: flex;
  overflow-y: scroll;

  .placed-bet {
    @include box-shadow;
    
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
    background-size: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    
    margin: 16px 4px;
    padding: 12px 16px;

    box-sizing: border-box;

    .amount {
      @include text-outline;
      
      color: white;
      display: flex;
    }

    .money-sign {
      font-size: 18px;

      align-self: flex-start;
    }
    
    .number {
      font-size: 64px;
    }

    .cancel-btn {
      background-color: white;
      border: 1px solid black;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 200;
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

      padding: 8px;

      box-sizing: border-box;
      width: 100%;
    }

    .cancel-btn:hover {
      background-color: $silver;
    }

    .status {
      @include box-shadow;
      
      background-color: white;
      border: 1px solid black;
      border-radius: 8px;
      cursor: default;
      display: none;
      font-size: 18px;
      font-weight: 200;
      text-align: center;
      
      padding: 8px;

      box-sizing: border-box;
      min-width: 84px;
      width: 100%;
    }

    .status.lost {
      background-color: $dino-red;
    }

    .status.won {
      background-color: $dino-green;
    }
  }

  .placed-bet:first-child {
    margin-left: 12px;
  }

  .placed-bet.green {
    background-color: $dino-green;
    background-image: url('/dist/assets/images/green-dino-small-single.png');
  }
  
  .placed-bet.red {
    background-color: $dino-red;
    background-image: url('/dist/assets/images/red-dino-small-single.png');
  }
  
  .placed-bet.yellow {
    background-color: $dino-yellow;
    background-image: url('/dist/assets/images/yellow-dino-small-single.png');
  }
  
  .placed-bet.purple {
    background-color: $dino-purple;
    background-image: url('/dist/assets/images/purp-dino-small-single.png');

    .amount {
      @include text-outline($color: white);
      
      color: black;
    }

    .cancel-btn {
      background-color: black;
      border-color: white;
      color: white;
    }

    .cancel-btn:hover {
      background-color: $faded-black;
    }

    .status {
      background-color: black;
      border: 1px solid white;
      color: white;
    }
  }
}

#placed-bets-view::-webkit-scrollbar {
  display: none;
}

#placed-bets-view {
  -ms-overflow-style: none;
  scrollbar-width: none;
}