$base_width: 80vw;
$base_height: 45vw;

#race-view {
  background-color: antiquewhite;
  border-radius: 8px;
  
  margin: 2.5vw auto;
  
  position: relative;
  z-index: 0;

  width: $base_width;
  height: $base_height;
}