@import '../colors';
@import '../mixins/box_shadow';

#social-links {
  @include box-shadow;
  display: flex;
  border-radius: 5px;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;

  i {
    font-size: 48px;
    
    padding: 5px;
  }

  a {
    color: $midnight-purple;
  }
}