#ui {
  background-color: black;
  border: 4px solid white;
  border-radius: 8px;

  margin: 12px;
  margin-top: 0;
  padding: 32px 12%;

  box-sizing: border-box;

  .container {
    position: relative;

    width: 100%;

    img {
      width: 100%;
    }

    .bet-view-message-box {
      background-color: black;
      color: white;
      top: 9%;
      left: 1%;
    }

    .bet-view-message-box:after {
      color: black;
      left: 4px;
      right: auto;
    }

    .time-input-message-box {
      top: 11vw;
      left: 47.75%;
    }

    .time-input-message-box:after {
      border-bottom-width: 6vw;
      border-right: .65vw solid transparent;
      border-left: .65vw solid transparent;

      left: 4px;
      right: auto;
    }

    .start-pause-message-box {
      top: 6vw;
      left: 33.25%;
    }

    .start-pause-message-box:after {
      left: 4px;
      right: auto;
    }

    .reset-message-box {
      top: 6vw;
      left: 60.25%;
    }

    .reset-message-box:after {
      left: 4px;
      right: auto;
    }

    .help-view-message-box {
      top: 10vw;
      left: auto;
      right: 1%;
    }

    .help-view-message-box:after {      
      border-bottom-width: 7vw;
      
      left: auto;
      right: 4px;
    }

    .amount-message-box {
      top: auto;
      bottom: 27.5vw;
      left: 1%;
    }

    .amount-message-box:after {
      left: 4px;
      right: auto;
    }

    .social-links-message-box {
      top: auto;
      bottom: 28.25vw;
      right: 1%;
      left: auto;
    }

    .social-links-message-box:after {
      left: auto;
      right: 4px;
    }

    .bet-submit-message-box {
      background-color: white;
      color: black;
      top: auto;
      bottom: 2vw;
      left: 6%;
    }

    .bet-submit-message-box:after {
      border-bottom-color: white;
      left: 4px;
      right: auto;
    }

    .bet-prev-selection-message-box {
      background-color: black;
      color: white;
      top: auto;
      bottom: 14.25vw;
      right: auto;
      left: 5.25%;
    }

    .bet-prev-selection-message-box:after {
      border-bottom-color: black;
      left: 4px;
      right: auto;
    }

    .bet-next-selection-message-box {
      background-color: black;
      color: white;
      top: auto;
      bottom: 5.5vw;
      right: auto;
      left: 24%;
    }

    .bet-next-selection-message-box:after {
      border-bottom-color: black;
      left: auto;
      right: 4px;
    }

    .bet-status-message-box {
      background-color: white;
      color: black;
      top: auto;
      bottom: 2.5vw;
      right: 10%;
      left: auto;
    }

    .bet-status-message-box:after {
      border-bottom-color: white;
      left: auto;
      right: 4px;
    }
  }
}