$dino-green: rgb(184, 253, 51);
$dino-red: rgb(253, 13, 27);
$dino-yellow: rgb(253, 173, 42);
$dino-blue: rgb(25, 150, 252);
$faded-black: #262626;
$matte-green: #64A279;
$matte-dark-green: #508160;
$matte-extra-dark-green: #3c6148;
$matte-orange: #ff8700;
$matte-dark-orange: #cc6c00;
$matte-extra-dark-orange: #995100;
$midnight-purple: #1f2041;
$midnight-purple-dark: #181934;
$grey: #a6a6a6;
$dark-grey: #7f7f7f;
$extra-dark-grey: #5f5f5f;
$purple: #4b3f72;
$silver: #ccc;

$action-grey: rgb(136, 140, 148);
$action-dark-grey: #6B6E76;
$ash-grey: #afafaf;
$error-red: #C72830;
$error-red-light: #FCF4F5;
$error-red-matte: rgb(199, 40, 48);
$faded-grey: #55585E;
$heart-red: rgb(229, 23, 105);
$mac-grey: #6b6e76;
$success-green: #148572;
$success-green-light: #F3F9F8;
$light-black: #2f3033;
$light-grey: #d9d9d9;
$light-silver: rgba(0, 0, 0, 0.12);
$selector-black: rgb(47, 48, 51);
$soft-grey: #888C94;
$sweatpants-grey: rgb(107, 110, 118);
$venmo-blue: #3d95ce;
$venmo-blue-dark: #0074de;
$venmo-blue-faded: #6fb4e0;
$venmo-baby-blue: rgb(243, 249, 255);
$whitest: #fff;